<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
	<connectionStrings>
        <add name="AzureBookmarkStore" connectionString="Server=tcp:bookmarksync.database.windows.net,1433;Initial Catalog=BookmarkDataStore;Persist Security Info=False;User ID='username';Password='password';MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
	</connectionStrings>
</configuration>
